@import url('https://static.toss.im/tps/main.css');
@import url('https://static.toss.im/tps/others.css');

.container {
  font-family: 'Toss Product Sans';
  text-decoration-line: none;
}

.loginWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9.5vh;
}

.titleWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 15px;
  text-align: center;
}

.title > span {
  font-size: 13px;
  font-weight: 500;
}

.title > h3 {
  font-size: 33px;
  font-weight: 600;
  margin: 0;
}

.background {
  margin: 30px;
  width: 270px;
  opacity: 1;
}

.mainButton {
  margin: 5px;
  width: 300px;
  height: 45px;
  border: 0px;
  border-radius: 12px;
  color: rgb(15, 14, 14);
  background-color: rgb(245, 245, 245);
  font-size: 13px;
  font-weight: 500;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: background-color 0.1s;
}

.mainButton:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 248);
}

.boxWrap {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.icon {
  width: 16px;
  margin: 8px;
}