@import url('https://static.toss.im/tps/main.css');
@import url('https://static.toss.im/tps/others.css');

.loaderWrap {
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    background: #acacac;
    box-sizing: border-box;
    animation: shadowExpandX 1.4s linear infinite alternate;
}

.loaderText {
    font-size: 12px;
    font-family: 'Toss Product Sans';
}
  
@keyframes shadowExpandX {
0% {
    box-shadow: 0 0, 0 0;
    color: rgba(255, 255, 255, 0.2);
}
100% {
    box-shadow: -24px 0, 24px 0;
    color: rgba(155, 155, 155, 0.8);
}
}